---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk0OTE0NTI5LCJqdGkiOiIyZmUxM2ZmNy1mYTA5LTQ2ZDItYWVlYi04MWMyMTk5NTA5ZDQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.EFjA3i8e9vrdjQI-LFbNs5EKeCsbu8-aXsizORiD8cM",
          "token_type" : "bearer",
          "expires_in" : 998,
          "scope" : "api",
          "jti" : "2fe13ff7-fa09-46d2-aeeb-81c2199509d4"
        }
  recorded_at: Tue, 16 May 2017 05:45:25 GMT
recorded_with: VCR 3.0.3
