---
http_interactions:
  - request:
      method: post
      uri: https://api.preprod.slimpay.com/oauth/token
      body:
        encoding: UTF-8
        string: grant_type=client_credentials
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
        Authorization:
          - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Application-Context:
          - application:8080
      body:
        encoding: UTF-8
        string: |-
          {
            "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNTIzMDAyNzU5LCJqdGkiOiJjYTdjZmQ4MS02ZGE5LTQxZDItYjU4ZS0yMTg3ZjlmZmM2NTQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.gc1Cn3TwFQchZPd_0bRmkVULEGwge-fhY_1xTfWz8lw",
            "token_type" : "bearer",
            "expires_in" : 998,
            "scope" : "api",
            "jti" : "ca7cfd81-6da9-41d2-b58e-2187f9ffc654"
          }
    recorded_at: Fri, 06 Apr 2018 08:02:40 GMT
recorded_with: VCR 3.0.3
