---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk0OTE0NTM1LCJqdGkiOiI0ZDJmMzMyOS01NjhmLTQ2MmQtYjBkOC00NTAzZjYyM2NkYjAiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.stpdghq1czWPnlAQkbHLTotQWh4YFwDUHIcfCUD3vEM",
          "token_type" : "bearer",
          "expires_in" : 999,
          "scope" : "api",
          "jti" : "4d2f3329-568f-462d-b0d8-4503f623cdb0"
        }
  recorded_at: Tue, 16 May 2017 05:45:31 GMT
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk0OTE0NTM1LCJqdGkiOiI0ZDJmMzMyOS01NjhmLTQ2MmQtYjBkOC00NTAzZjYyM2NkYjAiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.stpdghq1czWPnlAQkbHLTotQWh4YFwDUHIcfCUD3vEM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"03236d64c4bd2f7baf4c43a327251afbb"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1"
            },
            "https://api.slimpay.net/alps#post-token" : {
              "href" : "https://api-sandbox.slimpay.net/oauth/token"
            },
            "https://api.slimpay.net/alps#create-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders"
            },
            "https://api.slimpay.net/alps#get-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,reference}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-order-by-id" : {
              "href" : "https://api-sandbox.slimpay.net/orders/{id}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
              "templated" : true
            },
            "h[...]
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/orders
    body:
      encoding: UTF-8
      string: '{"creditor":{"reference":"democreditor"},"subscriber":{"reference":"subscriber01"},"items":[{"type":"signMandate","mandate":{"standard":"SEPA","signatory":{"honorificPrefix":"Mr","familyName":"Doe","givenName":"John","telephone":"+33612345678","email":"john.doe@gmail.com","billingAddress":{"street1":"27
        rue des fleurs","street2":"Bat 2","postalCode":"75008","city":"Paris","country":"FR"}}}}],"started":true}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk0OTE0NTM1LCJqdGkiOiI0ZDJmMzMyOS01NjhmLTQ2MmQtYjBkOC00NTAzZjYyM2NkYjAiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.stpdghq1czWPnlAQkbHLTotQWh4YFwDUHIcfCUD3vEM
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Location:
      - https://api-sandbox.slimpay.net/orders/e56c5a0b-39fa-11e7-9800-000000000000
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/orders/e56c5a0b-39fa-11e7-9800-000000000000"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1/orders"
     [...]
