---
http_interactions:
  - request:
      method: post
      uri: https://api.preprod.slimpay.com/oauth/token
      body:
        encoding: UTF-8
        string: grant_type=client_credentials
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
        Authorization:
          - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Application-Context:
          - application:8080
      body:
        encoding: UTF-8
        string: |-
          {
            "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNTIzMDA0NjExLCJqdGkiOiI3OWMyNTE2NS1mMmM0LTQ4Y2UtODVhZi00NDQ4N2ZiOGE2YWEiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.iWomgtubVbuWwxksh3-7a5hM3VLJYbqRk5-x9raQ5FI",
            "token_type" : "bearer",
            "expires_in" : 998,
            "scope" : "api",
            "jti" : "79c25165-f2c4-48ce-85af-44487fb8a6aa"
          }
    recorded_at: Fri, 06 Apr 2018 08:33:32 GMT
  - request:
      method: get
      uri: https://api.preprod.slimpay.com/
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNTIzMDA0NjExLCJqdGkiOiI3OWMyNTE2NS1mMmM0LTQ4Y2UtODVhZi00NDQ4N2ZiOGE2YWEiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.iWomgtubVbuWwxksh3-7a5hM3VLJYbqRk5-x9raQ5FI
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
        Etag:
          - '"0b727478b3a613be0fbac6693db1e396f"'
        X-Application-Context:
          - application:8080
      body:
        encoding: UTF-8
        string: |-
          {
            "_links" : {
              "self" : {
                "href" : "https://api.preprod.slimpay.com/"
              },
              "profile" : {
                "href" : "https://api.preprod.slimpay.com/alps/v1"
              },
              "https://api.slimpay.net/alps#post-token" : {
                "href" : "https://api.preprod.slimpay.com/oauth/token"
              },
              "https://api.slimpay.net/alps#create-orders" : {
                "href" : "https://api.preprod.slimpay.com/orders"
              },
              "https://api.slimpay.net/alps#get-orders" : {
                "href" : "https://api.preprod.slimpay.com/orders{?creditorReference,reference}",
                "templated" : true
              },
              "https://api.slimpay.net/alps#search-order-by-id" : {
                "href" : "https://api.preprod.slimpay.com/orders/{id}",
                "templated" : true
              },
              "https://api.slimpay.net/alps#search-orders" : {
                "href" : "https://api.preprod.slimpay.com/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
                "templated" : true
             [...]
  - request:
      method: post
      uri: https://api.preprod.slimpay.com/orders
      body:
        encoding: UTF-8
        string: '{"creditor":{"reference":"democreditor"},"subscriber":{"reference":"subscriber01"},"items":[{"type":"signMandate","mandate":{"standard":"SEPA","signatory":{"honorificPrefix":"Mr","familyName":"Doe","givenName":"John","telephone":"+33612345678","email":"john.doe@gmail.com","billingAddress":{"street1":"27
        rue des fleurs","street2":"Bat 2","postalCode":"75008","city":"Paris","country":"FR"}}}}],"started":true}'
      headers:
        Authorization:
          - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNTIzMDA0NjExLCJqdGkiOiI3OWMyNTE2NS1mMmM0LTQ4Y2UtODVhZi00NDQ4N2ZiOGE2YWEiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.iWomgtubVbuWwxksh3-7a5hM3VLJYbqRk5-x9raQ5FI
        Content-Type:
          - application/json
    response:
      status:
        code: 201
        message: ''
      headers:
        Content-Type:
          - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
        Location:
          - https://api.preprod.slimpay.com/orders/31061884-3975-11e8-8fd1-000000000000
        X-Application-Context:
          - application:8080
      body:
        encoding: UTF-8
        string: |-
          {
            "_links" : {
              "self" : {
                "href" : "https://api.preprod.slimpay.com/orders/31061884-3975-11e8-8fd1-000000000000"
              },
              "profile" : {
                "href" : "https://api.preprod.slimpay.com/alps/v1/orders"
              },
              [...]
