---
http_interactions:
  - request:
      method: post
      uri: https://api.preprod.slimpay.com/oauth/token
      body:
        encoding: UTF-8
        string: grant_type=client_credentials
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
        Authorization:
          - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Application-Context:
          - application:8080
      body:
        encoding: UTF-8
        string: |-
          {
            "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNTIzMDAyNzY4LCJqdGkiOiJmYjdmMWI0Ny00ZjY2LTQ5YjAtYjE0NC0wOWMwYmZmYzU2MDQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.-sA0PKkY-k-yiFvpQVnx2ZjDGdVq_9X98HLN7vnMhrs",
            "token_type" : "bearer",
            "expires_in" : 998,
            "scope" : "api",
            "jti" : "fb7f1b47-4f66-49b0-b144-09c0bffc5604"
          }
    recorded_at: Fri, 06 Apr 2018 08:02:49 GMT
  - request:
      method: get
      uri: https://api.preprod.slimpay.com/
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNTIzMDAyNzY4LCJqdGkiOiJmYjdmMWI0Ny00ZjY2LTQ5YjAtYjE0NC0wOWMwYmZmYzU2MDQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.-sA0PKkY-k-yiFvpQVnx2ZjDGdVq_9X98HLN7vnMhrs
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
        Etag:
          - '"0b727478b3a613be0fbac6693db1e396f"'
        X-Application-Context:
          - application:8080
      body:
        encoding: UTF-8
        string: |-
          {
            "_links" : {
              "self" : {
                "href" : "https://api.preprod.slimpay.com/"
              },
              "profile" : {
                "href" : "https://api.preprod.slimpay.com/alps/v1"
              },
              "https://api.slimpay.net/alps#post-token" : {
                "href" : "https://api.preprod.slimpay.com/oauth/token"
              },
              "https://api.slimpay.net/alps#create-orders" : {
                "href" : "https://api.preprod.slimpay.com/orders"
              },
              "https://api.slimpay.net/alps#get-orders" : {
                "href" : "https://api.preprod.slimpay.com/orders{?creditorReference,reference}",
                "templated" : true
              },
              "https://api.slimpay.net/alps#search-order-by-id" : {
                "href" : "https://api.preprod.slimpay.com/orders/{id}",
                "templated" : true
              },
              "https://api.slimpay.net/alps#search-orders" : {
                "href" : "https://api.preprod.slimpay.com/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
                "templated" : true
             [...]
